<div aria-live="polite" aria-atomic="true" class="">
  <!-- Position it: -->
  <!-- - `.toast-container` for spacing between toasts -->
  <!-- - `top-0` & `end-0` to position the toasts in the upper right corner -->
  <!-- - `.p-3` to prevent the toasts from sticking to the edge of the container  -->
  <div id="notifi_container" class="toast-container position-fixed bottom-0 end-0 p-3">
    <!-- Then put toasts within -->
  </div>
</div>

