<div class="btn-group-vertical d-flex py-2 px-2" role="group" aria-label="Vertical button group">
  <% @works.each do |work| %>
    <a href="<%= url_for work %>" data-turbo="false" type="button" class="btn btn-light w-100 text-start"> <%= work.name %> </a>
  <% end %>
  <a href="/summary" data-turbo="false" type="button" class="btn btn-info w-100 text-start" title="View all"> ... </a>
</div>
