<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWorks" aria-labelledby="offcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">Works</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" id="nav-table-div">
    <div class="row py-1">
      <div class="col">
        <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasWorks" aria-controls="offcanvasWorks" onclick="loadWork(0)" type="button" class="btn btn-secondary">Show</button>
        <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasWorks" aria-controls="offcanvasWorks" onclick="loadWork(1)" type="button" class="btn btn-secondary">Add</button>
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editModal">Edit</button>
      </div>
      <div class="col buttons-toolbar d-flex justify-content-end gx-2 mx-2"></div>
    </div>
    <%= render partial: "dashboard/summary", locals: {format: @format, data_param: nil} %>
  </div>
</div>

<div class="row d-flex flex-fill">
  <div class="col-1 py-5" style="max-width: 60px;">
    <div class="btn btn-light d-inline-flex align-items-center" style="height: 100%;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWorks" aria-controls="offcanvasWorks">
      <i class="bi bi-arrow-bar-right"></i>
    </div>
  </div>
  <div class="col-1 flex-grow-1">
    <div id="table_toolbar">
      <ul class="nav nav-tabs" id="sub_tables_nav">
      </ul>
    </div>
    <table
      id="work_table"
      data-advanced-search="true"
      data-cache="false"
      data-filter-control="true"
      data-id-table="advancedTable"
      data-reorderable-columns="false"
      data-reorderable-rows="false"
      data-resizable="true"
      data-search="true"
      data-show-columns-search="true"
      data-show-columns-toggle-all="true"
      data-show-columns="true"
      data-use-row-attr-func="false"
      data-show-multi-sort="true"
      data-toolbar="#table_toolbar"
      data-show-search-clear-button="true"
      data-buttons="detailTableButtons"
    >
    </table>
  </div>
</div>

<div class="modal fade modal-xl" id="modal_view_div" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body d-flex justify-content-center">
        <div id="modal_view"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="focusModal" tabindex="-1" aria-labelledby="focusModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="focusModalLabel">Focus on keys</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex">
          <select id="focusSelect" class="form-select"></select>
          <button onclick="addFocusKey();" type="button" class="btn btn-secondary bi bi-plus"></button>
        </div>
        <div class="py-2 px-2">
          <ul id="focusKeyList" class="list-group">
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button onclick="focusKeys();" type="button" class="btn btn-primary">Apply</button>
      </div>
    </div>
  </div>
</div>

<%= render partial: "edit" %>
