<div class="container-fluid d-flex flex-column vh-100">
  <div class="row">
    <%= render partial: "dashboard/nav" %>
  </div>

  <div class="row px-5 py-5">
    <div class="col card py-2" onclick="location.href='summary';">
      <h1 class="bi bi-eye card-img-top"></h1>
      <div class="card-body">
        <h2 class="card-text">View Works</h2>
      </div>
    </div>

    <div class="col card py-2" onclick="location.href='works/new';">
      <h1 class="bi bi-upload card-img-top"></h1>
      <div class="card-body">
        <h2 class="card-text">Upload Works</h2>
      </div>
    </div>

    <div class="col card py-2" >
      <h1 class="bi bi-graph-up card-img-top"></h1>
      <div class="card-body">
        <h2 class="card-text">Statistics</h2>
      </div>
    </div>

    <div class="col card py-2" >
      <h1 class="bi bi-gear card-img-top"></h1>
      <div class="card-body">
        <h2 class="card-text">Settings</h2>
      </div>
    </div>

  </div>
</div>
