<table
        id="table"
        data-filter-control="true"
        data-toggle="table"
        data-show-columns="true"
        data-show-columns-search="true"
        data-show-columns-toggle-all="true"
        data-reorderable-columns="true"
        data-resizable="true"
        data-height="460"
        data-url="data1.json">
    <thead>
    <tr>
        <th colspan="2">Item Detail</th>
        <th data-filter-control="select" data-field="id" rowspan="2" data-valign="middle">Item ID</th>
    </tr>
    <tr>
        <th data-filter-control="select" data-field="name">Item Name</th>
        <th data-filter-control="select" data-field="price">Item Price</th>
    </tr>
    </thead>
</table>
