<table
        id="table"
        data-filter-control="true"
        data-show-columns="true"
        data-show-columns-search="true"
        data-show-columns-toggle-all="true"
        data-reorderable-columns="true"
        data-reorderable-rows="false"
        data-use-row-attr-func="false"
        data-resizable="true"
    >
    <!--thead>
      <tr>
        <th data-sortable="true" data-filter-control="select" data-field="scenario"> scenario </th>
        <th data-sortable="true" data-filter-control="select" data-field="type"> type </th>
        <th data-sortable="true" data-filter-control="select" data-field="pba"> pba </th>
        <th data-sortable="true" data-filter-control="select" data-field="group"> group </th>
        <th data-sortable="true" data-filter-control="select" data-field="key"> key </th>
        <th data-sortable="true" data-filter-control="select" data-field="value"> value </th>
        <th data-sortable="true" data-filter-control="select" data-field="1"> value </th>
        <th data-sortable="true" data-filter-control="select" data-field="2"> value </th>
      </tr>
    </thead-->
</table>

<script>
  tmpResponseHandler = function(res) {
    this.columns
    return res["data"]
  }
  tmpAjaxRequest = function (params) {
    $.get("data?works=1,2").then(function (res) {
      params.success(res)
    })
  }
  //$("#table").bootstrapTable($.get("data?works=1,2"))
  $.get("data?works=1,2").then (
    function (res) {
      $("#table").bootstrapTable(res)
      $("#table").bootstrapTable(`refreshOptions(${res})`)
    }
  )
</script>
