<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWorks" aria-labelledby="offcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">Offcanvas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" id="nav-table-div">
  </div>
</div>

<div class="container-fluid d-flex flex-column vh-100">
  <div class="row">
    <%= render partial: "nav" %>
  </div>

  <div class="row d-flex flex-fill">
    <div class="col flex-grow-1">
      <div class="row py-1">
        <div class="col">
          <button onclick="loadWork(0, 1)" type="button" class="btn btn-secondary">Show</button>
        </div>
        <div class="col buttons-toolbar d-flex justify-content-end gx-2 mx-2"></div>
      </div>
      <%= render partial: "summary", locals: {format: @format} %>
    </div>
  </div>
</div>
