<% data_url = url_for(@work.data) %>
<% @format.all_categories.each_with_index do |field, no| %>
  <div>
    <%= render  partial: "dashboard/table", 
                locals: {
                  table_data_type: :url, table_id: "work#{no}", table_field: field,
                  table_data: data_url, table_format: @format.format_of(field)
                } %>
  </div>
<% end %>
