<turbo-frame id="login_fram">
  <div class="modal-header">
    <h1 class="modal-title fs-5" >Login</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div>
      <p> <%= @message %> </p>
    </div>
  </div>
  <script>
    document.getElementById('owner_status').reload()
    document.getElementById('login_modal').addEventListener('hide.bs.modal', event => {
      window.location.reload()
    })
  </script>
</turbo-frame>
